# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
coverage/
node_modules/
dist/tests/
tests/
.DS_Store
.eslintrc.json
babel.config.js
cloudbuild.yaml
tsconfig.json
yarn.lock
.yarnrc.yml
.npmignore
.gitignore
.github/
.vscode/
.yarn/
src/
.eslintrc
.prettierrc
tsconfig.json
*.log
.env
.env.*
README.md
